[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
plexapi = "*"
cinemagoer = "*"
yt-dlp = "==2023.3.4"
phantomjs = "*"

[dev-packages]

[requires]
python_version = "3.11"
